.root{
    -fx-font-size: 16;
}
.button{
-fx-background-color: #1d08a3;
-fx-text-fill: #f6fa11;
}
.text-area{
-fx-background-color: #dbfa11;
-fx-control-inner-background: #1d08a3;
-fx-text-fill: #f6fa11;
}
.text-field{
-fx-font-stretch: expanded;
-fx-control-inner-background: #f6fa11;
-fx-text-fill: #1d08a3;

}